# User-specific stuff
.idea/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Server files
hub/*
Server*/*
proxy_server/*
!*/start.bat
!*/*.jar
!*/eula.txt
!*/server.properties
!*/plugins
*/plugins/*
!*/mods
*/mods/*

#hub
!hub/bukkit.yml
!hub/paper.yml
!hub/spigot.yml

#Server
Server*/minecraft_server.1.12.2.jar
!Server*/config
Server*/config/sponge/*
!Server*/config/sponge/global.conf
!Server*/world
Server*/world/*
!Server*/world/setlink.bat

#proxy
!proxy_server/velocity.toml
!proxy_server/forwarding.secret

# GlobalData
GlobalData/*/*